<section id="about">
    <h1>About</h1>
    <p>This site was created for a school research project on sustainable agriculture.
        It was built from scratch using Express and node.js with the languages Javascript,
        HTML, and CSS. Special thanks to Courtney Caldwell at the Point Reyes Farmstead
        Cheese Company’s dairy farm for all the information on sustainable farming.
        This website is designed for people to learn more about sustainable agriculture
        and learn that it is important for humans to protect the environment in any way that they can.
        This site's goal is also to garner an interest in computer science and give users
        a taste of how to program in HTML and CSS through the coding tutorial. </p>
</section>