<div class="environImpactsHeader">
    <h1>Environmental Impacts</h1>
</div>
<div class="environImpactsBody">
    <h2>Global Warming and the Greenhouse Effect</h2>
    <p> Here's how global warming works:
        <li>Sunlight passes through the atmosphere and warms
        the earth’s surface, and this heat is then radiated back into
        space.</li>
        <div id="globalWarming">
            <img src="images/globalwarming.gif" alt="graphic of global warming"/>
            <p class="caption">Image courtesy of <a href="http://giphy.com">Giphy</a></p>
        </div>
        <li>However, most of this outgoing heat is being absorbed
        by greenhouse gas molecules such as carbon dioxide, methane,
        and nitrous oxide, and re-emitted in all directions, warming
        the earth and causing global warming. </li>
        <li>The greenhouse gas effect
        is the result of warming that occurs when the atmosphere traps
            heat radiating from the earth towards space. </li>
    </p>
    <h2>Consequences of Climate Change</h2>
    <p>So why is all of this important?
        <li>The warming of our planet is changing ecosystems across the globe.</li>
        <li>Glaciers are melting, shifting precipitation patterns and setting animals on the move.
            Some will have to move farther north to find the colder temperatures
            they are suited for, and some species will go extinct because they
            are unable to migrate.</li>
        <li>For example, polar bear populations are
            dwindling because the ice they need to live on and fish for food
            on is disappearing.</li>
        <li>One species going extinct can
            set off a chain reaction of suffering for animals in their
            food chain who have lost a source of food, taking away from the
            beautiful diversity of animals on our planet.</li>
        <li>Global warming
            also contributes to extreme weather conditions such as droughts,
            tropical cyclones, and hurricanes, and causes damage to
            beautiful and delicate ecosystems such as coral reefs and
            polar life.</li>
        <li>Climate change worsens air pollution
            and causes a rise in sea levels that increases the risk of
            floods for populations living on the coast. </li>
    </p>
    <h2>How Does Agriculture Contribute to Global Warming?</h2>
    <p>
        <li>Farming and agriculture contribute to climate
            change and release greenhouse gases: primarily
            methane, carbon dioxide, and nitrous oxide. </li>
        <li>Nitrous oxide is produced by soil cultivation practices,
        especially the use of organic fertilizer. </li>
        <li>Common farming
        practices, such as overgrazing, tilling soil, and driving
        a tractor result in the return of soil to the atmosphere
        and therefore the release of biomass carbon into the air.
        This causes climate change by increasing the amount of
            carbon dioxide in the atmosphere. </li>
    </p>
    <div class="marinSubheading">
        <h3>Cows: A Case Study</h3>
    </div>
    <p>Cows produce methane through a process called enteric/microbial
        fermentation. This process is a bit complicated, so here's the breakdown:
        <img src="images/DSC_7706.jpg" style="float: left"/>
        <li>Fermentation: the chemical breakdown of a susbtance
        by bacteria and other microorganisms.</li>
        <li>Enteric: relating to or
        occuring in the intestines.</li>
        <li>Microbial: relating to or characteristic of a microorganism,
            especially a bacterium causing disease or fermentation.
        <li>Cows are unique in that they have 4 stomach compartments,
        one of which is called the rumen. This is the one where
        microbial fermentation occurs, so it is the one we are going to focus on.</li>
        <li>The rumen functions as a fermentation vat and a lot of bacteria are
        present in this large, hollow muscular organ. Certain of these bacteria
        promote the development of gases, mostly carbon dioxide and methane.</li>
        <li>About 132 to  264 gallons of gas from the rumen produced by fermentation
        are belched each day by one cow, emitting methane gas. This gas contributes to
        global warming and is very bad for the environment! Therefore, cows are not good
        for the environment and an increased amount of cows are on earth to meet the food needs
        of the growing human population.</li>
    </p>
</div>