<div class="environImpactsHeader">
    <h1>Point Reyes Farmstead Cheese Co.</h1>
</div>

<div class="environImpactsBody">
    <p>Point Reyes Farmstead Cheese Company is a cheese making
        company located in Point Reyes, California. They produce
        artisan cheeses and are known for their original blue cheese.
        Point Reyes Farmstead Cheese Company uses sustainable farming
        practices. They are a part of MALT and their farm, Robert Giacomini
        Dairy, won the California Leopold Conservation Award in 2013 from the
        Sand County Foundation, the California Farm Bureau Federation and
        Sustainable Conservation. This award is extremely prestigious
        and is given to honor a private landowner in the management of
        natural resources and stewardship (stewardship is a set of practices that maintain
        or improve the agricultural and natural values of land).</p>
    <h2>Sustainable Farming Practices</h2>
    <p>
        <img src="images/DSC_7622.jpg"/>
        Point Reyes Farmstead Cheese Company’s dairy farm treats their
        land as one of the most important foundations on their farm and all
        of the practices described below help to lessen their strain on the environment.</p>

    <p>
        <li>Carbon Farming: Rotate fields when animals are grazing to keep
    soils healthy and create new growth and prevent harmful erosion into Tomales Bay.</li>
    <li>Create compost for their solid waste for cow bedding and for usage in their garden.</li>
    <li>Use their waste as a way to naturally fertilize their fields for their silage crop, ryegrass.</li>
    <li>Compost all of their food and plant waste.</li>
    <li>Use their byproduct from the cheese, whey, to help feed back their cows as a protein source.</li>
    <li>The use of a methane digester.</li>
    </p>
    <h2>Methane Digester</h2>
    <p>The purpose of a methane digester is to trap the methane in cows’ manure so that it is
        not released into the atmosphere which causes global warming. Through a process called
        anaerobic digestion, microorganisms break down the manure and other biodegradable
        materials in the absence of oxygen.
       <!-- <img src="images/digester.jpg" style="float: left"/> -->
        The end product is biogas, which is 60% methane.
        Let’s take a closer look:</p>
    <p>
        <li>Step One: The bacterial hydrolysis of the manure and other biodegradable
    materials. In this step, all that really happens is that the manure gets decomposed.</li>
    <li>Step Two: Acidogenic bacteria, which are producers of acid from sugars that are
        easy to break down in the digestive system, convert sugars and amino acids into
        carbon dioxide, hydrogen, ammonia, and organic acids. In other words, the bacteria
        further break down the chemicals in the rumen in this step into the chemical compounds
        of carbon dioxide, ammonia, and organic acids.</li>
    <li>Step Three: Acetogenic bacteria convert these organic acids into acetic acid,
        along with more ammonia, hydrogen, and carbon dioxide. Acetogenic bacteria are
        anaerobic bacteria that convert carbon dioxide in sugars into acetate using hydrogen
        as a source of energy.</li>
    <li>Step Four: The methanogens (methane producing bacteria)  convert these products
        into carbon dioxide and methane, or biogas.</li>
    <li>Final Step: The captured biogas is then converted to energy and used to power
        the generator and other facilities on the Point Reyes Farmstead Cheese Company’s farm.</li>
    </p>

</div>