<div class="home">
    <div class="header">
        <h1>SUSTAINABLE AGRICULTURE</h1>
    </div>
    <div class="banner">
        <img src="images/DSC_7712.jpg" alt=""/>
    </div>

    <ul class="hero">
        <li>
            <h3>ENVIRONMENTAL IMPACTS</h3>
            <img src="images/DSC_8109.jpg" alt=""/>
            <p>Farming can be detrimental to the environment and contribute to the warming of our planet
                because it can release greenhouse gases into the environment, warming our planet.
                <a href="/environImpacts">Click here to learn more about
                    how farming harms the environment.</a></p>
        </li>
        <li>
            <h3>MARIN SUSTAINABLE FARMING</h3>
            <img src="images/DSC_7705.jpg" alt=""/>
            <p>Organizations in Marin county such as MALT promote
                sustainable agriculture and work to protect the environment
                in the area.
                <a href="/marin">Click here to learn more about sustainable
                    agriculture in the marin area.</a></p>
        </li>
        <li>
            <h3>POINT REYES FARMSTEAD CHEESE</h3>
            <img src="images/DSC_8157.jpg" alt=""/>
            <p>The Point Reyes Farmstead Cheese company
                utilizes sustainable agricultural practices such as carbon farming, using
                a methane digester, and composting. <a href="/farmsteadCheese">Click here to learn
                    more about Point Reyes Farmstead Cheese Company.</a></p>
        </li>
    </ul>

</div>




