<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>AGATE Sustainable Farming</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="page">
    <nav role="navigation">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="">SUSTAINABLE AGRICULTURE</a>
                <ul>
                    <li><a href="/environImpacts">ENVIRONMENTAL IMPACTS</a></li>
                    <li><a href="/marin">MARIN</a></li>
                    <li><a href="/farmsteadCheese">POINT REYES FARMSTEAD CHEESE CO.</a></li>
                </ul>
            </li>
            <li><a href="/photos">PHOTO GALLERY</a></li>
            <li><a href="/codingtutorial">CODING TUTORIAL</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </nav>
    <!-- Body content goes here -->
    {{{body}}}
    <!-- // Body content ends here -->
    <div class="footer">
        <footer>
            &copy;2018 AGATE. All photos taken by Randall Gee.
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="javascripts/main.js"></script>
</body>
</html>