<div class="environImpactsHeader">
    <h1>Sustainable Farming in Marin County</h1>
</div>
<div class="environImpactsBody">
    <h2>Marin Certified Organic Agriculture (MOCA)</h2>
    <p>
        <li>MOCA is part of Marin County’s government and was
        developed to provide a professional service to
        local individuals and business operations engaged
        in the production and distribution of organically
        grown products. </li>
        <li>The local agriculture community,
        who promotes sustainable farming practices, is
        served by MOCA. </li>
        <li>MOCA’s main duty is upholding the
        standards of the USDA National Organic Program
        and documenting and verifying operations’ sustainable
        agriculture practices. </li>
        <li>MOCA is a local service that
        promotes production of organic value-added products
        by Marin’s family farms, and this is a benefit to
            Marin’s community of farmers. </li>
    </p>
    <img src="images/DSC_7559.jpg"/>
    <h2>Marin Agricultural Land Trust (MALT)</h2>
    <p>
        <li>MALT stands for Marin Agricultural Land trust.</li>
        <li>MALT is an agricultural conservation easement,
        or a voluntary legal agreement between MALT
        and a landowner. It prohibits the uses and
        practices for the land that are detrimental
        to the sustainable agriculture.
        <li> MALT easements
        do not disappear if the land ownership changes,
        making them theoretically last forever.</li>
    <li>To learn more, visit <a href="https://www.malt.org">www.malt.org</a></li>
    </p>
    <h2>Marin Carbon Project</h2>
    <p>The Marin Carbon Project’s mission is to
        enhance carbon sequestration in land throughout
        Marin in response to the rapid pace of global
        warming.
        <li>Carbon sequestration is the long-term
        storage of carbon in plants, soil, and others forms
        of matter to remove carbon dioxide from the
        atmosphere. </li>
        <li>This project has shown that the
        one-time addition of compost to rangeland
        improves soil health and water retention, nurturing
        better growth for pasture grasses. These
        healthier grasses are able to draw more
        carbon from the atmosphere into the soil
        where it won’t contribute to global warming.
        </li>
    </p>
    <div class="marinSubheading">
        <h3>Carbon Farming</h3>
    </div>
    <p>The Marin Carbon Project promotes carbon
        farming, farming in a way that reduces
        greenhouse gas emissions by holding and
        storing carbon in soil to reduce the amount
        of carbon dioxide in the atmosphere.
        <li>During
        photosynthesis, plants combine carbon dioxide
        from the air with water and minerals from
        the soil using energy from the sun, and
        agricultural production depends on this
        process. </li>
        <li>However, common agricultural practices
        such as overgrazing, tilling soil, and driving
        a tractor result in the return of this soil to
        the atmosphere and therefore carbon into the air,
        causing climate change. </li>
        <li>With carbon farming, these practices are not
            used as often and other farming practices are
            implemented to reduce the amount of carbon
            dioxide in the atmposphere.</li>
        <li>To learn more, visit <a href="https://marincarbonproject.org">www.marincarbonproject.org</a></li>
    </p>
</div>